<?php

return [
	'cookie_name' => 'user_landed',

	// how long hide landing for the user after he sees it (in seconds)
	// by default, every 7 days the landing page will be shown
	'cookie_ttl' => 7 * 24 * 60 * 60, // default: 7 days
];
